<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listado Visitas</title>
 <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
 <div class="p-0">
          <div th:replace="~{plantillas/navegador :: navegador}"></div>
      </div>
  <main class="contenedor-principal">
          <div class="">
              <div class="container-fluid">
      	
      </div>
      </div>
      </div>
    </main>
 <div class="p-0">
      <div th:replace="~{plantillas/footer :: footer}"></div>
    </div>
</html>
