<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listar Capacitacion</title>
 <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
 <div class="p-0">
          <div th:replace="~{plantillas/navegador :: navegador}"></div>
      </div>
  <main class="contenedor-principal">
	  <div class="p-0">
			  <div class="container-fluid table-responsive">

	  			<div class=" m-auto tabla-datos">
					<h3 class="text-center py-4 bg-primary m-0 text-light">Listado de capacitaciones</h3>
	  			<table class="mt-n2">
		  			<thead id="cabecera-tabla">
		    			<tr class="bg-dark text-light py-3">
		      				<th>ID</th>
						    <th>Nombre</th>
						    <th>Detalle</th>
						    <th>Dia</th>
						    <th>Hora</th>
						    <th>Lugar</th>
						    <th>Duracion</th>
						    <th>Asistentes</th>
							<th>Editar</th>
							<th>Borrar</th>
		                </tr>
		            </thead>
		            <tbody>
					<tr th:each="capacitacion : ${capacitaciones}">
						<td th:text="${capacitacion.id}"></td>
						<td th:text="${capacitacion.nombre}"></td>
						<td th:text="${capacitacion.detalle}"></td>
						<td th:text="${capacitacion.dia}"></td>
						<td th:text="${capacitacion.hora}"></td>
						<td th:text="${capacitacion.lugar}"></td>
						<td th:text="${capacitacion.duracion}"></td>
						<td th:text="${capacitacion.cantidadAsistentes}"></td>
						<td>
							<a th:href="@{/editarCapacitacion/{id}(id=${capacitacion.id})}">
								<i class="fas fa-edit text-success"></i>
							</a>
						</td>
						<td>
							<a th:href="@{/borrarCapacitacion(id=${capacitacion.id})}" onclick="return confirm('¿Estás seguro de que deseas borrar esta capacitacion?')">
								<i class="fas fa-trash text-danger"></i>
							</a>
						</td>
					  </tr>
				    </tbody>
					</table>
	  			</div>
      			</div>
      		</div>
	  	</div>
	  </div>
    </main>
   <div class="p-0">
          <div th:replace="~{plantillas/footer :: footer}"></div>
      </div>
  </body>
</html>