<div th:fragment="footer">
<footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #6351ce"
             >
      <!-- Left -->
      <div class="me-5 text" >
        <span>Siguenos en Redes Sociales</span>
      </div>
    	<div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Soluciones Inteligentes</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Somos una empresa de asesorías en prevención de riesgos comprometida con el bienestar de las personas y 
              la protección del entorno laboral. Estamos aquí para ayudarte a mitigar los riesgos y promover una cultura de 
              seguridad en tu organización,respaldados por nuestra experiencia, conocimientos especializados y pasión por lo
              que hacemos
            </p>
          </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
           <h6 class="text-uppercase fw-bold">Te ayudamos</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p>
              <a href="#!" class="text-white">¿Como enviar formularios?</a>
            </p>
            <p>
              <a href="#!" class="text-white">Preguntas frecuentas</a>
            </p>
            <p>
              <a href="#!" class="text-white">Ayuda</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contactos</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><i class="fas fa-home mr-3"></i>Concepcion - Region del Bío-Bío - Chile</p>
            <p><i class="fas fa-envelope mr-3"></i> info@solucionesinteligentes.cl</p>
            <p><i class="fas fa-phone mr-3"></i> +569 65899652</p>
          </div>
        </div>
      </div>
    </section>
 	<div class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Derechos reservados:
      <a class="text-white" href="https://mdbootstrap.com/">www.solucionesinteligentes.cl</a>
    </div>
  </footer>
</div>